<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-6 col-6">
        <div class="icon-box">
          <i class="ri-store-line" style="color: #ffbb2c;"></i>
          <h3><a href="/market/korea">한식</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6">
        <div class="icon-box">
          <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
          <h3><a href="/market/japan">일식</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
          <h3><a href="/market/america">양식</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
          <h3><a href="/market/china">중식</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6 mt-4">
        <div class="icon-box">
          <i class="ri-database-2-line" style="color: #47aeff;"></i>
          <h3><a href="/market/snack">분식</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6 mt-4">
        <div class="icon-box">
          <i class="ri-database-2-line" style="color: #47aeff;"></i>
          <h3><a href="/market/buttet">뷔페식</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6 mt-4">
        <div class="icon-box">
          <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
          <h3><a href="/market/etc">기타</a></h3>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Features Section -->