<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Popular</h2>
      <h3>Check our <span>Popular Market</span></h3>
      <p>Here are the top 9 highly rated restaurants</p>
    </div>

    {% for r in seochono %}
    <div class="row portfolio-container">
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="static/assets/img/market/{{r.seochono.seochono}}.jpg" class="img-fluid" alt="" width="100%" height="100%">
        <div class="portfolio-info">
          <h4>{{r.seochono.marketname}}</h4>
          <p>{{r.seochono.avg_star}}</p>
          <button onclick="location.href ='/market/menu/{{r.seochono.seochono}}'">메뉴보기</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section><!-- End Portfolio Section -->