{% load static %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Saw Well</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          <li><a class="active" href="/market/{{name.categoriname}}">{{name.categoriname}}</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <head>
    <title>{{name.categoriname}}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>{{marketname}}</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{name.categoriname}}</h1>
      </div>
    </div>
  </section>
<section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for o in objs  %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/assets/img/market/{{o.seochono}}.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
            <div class="card-body">
              <h1 class="card-text">{{o.marketname}}</h1>
              <p class="card-text">{{o.address}}</p>
              <p class="card-text">오픈 시간 : {{o.open}}</p>
              <p class="card-text">종료 시간 : {{o.close}}</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/market/menu/{{o.seochono}}">Menu</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="algin=center;"><a href="/review/reviewlist">Review</a></button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
    <ul class="pagination justify-content-center">
      <!-- 이전페이지 -->
      {% if question_list.has_previous %}
      <li class="page-item">
          <a class="page-link" href="?page={{ objs.previous_page_number }}">이전</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
      </li>
      {% endif %}
      <!-- 페이지리스트 -->
      {% for page_number in objs.paginator.page_range %}
      {% if page_number >= objs.number|add:-5 and page_number <= objs.number|add:5 %}
          {% if page_number == objs.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% endif %}
      {% endif %}
      {% endfor %}
      <!-- 다음페이지 -->
      {% if objs.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ objs.next_page_number }}">다음</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
      </li>
      {% endif %}
    </ul>
</section>

