<script>
var error = ['{{error}}']

if(error[0] == {{error}}){
  alert('아이디 또는 비밀번호가 잘못되었습니다.');
}
</script>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  <div class="container d-flex align-items-center justify-content-between">
    <button id="logincheck" style="display:none;">{{error}}</button>
    <h1 class="logo"><a href="/">Saw Well</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto " href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/ceo/login">CEO login</a> </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/ceo/login">CEO Login</a></li>
      <li><a href="/identify/register">register</a></li>
    </ol>
    <h2>login</h2>
  </div>
</section><!-- End Breadcrumbs -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        <article class="entry">
          <h2 class="entry-title">
            <a href="blog-single.html">CEO LOGIN</a>
          </h2>
          <div class="entry-content">
            <form action="/ceo/loginimpl" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="id" id="id" placeholder="Id" required>
              </div>
              <div class="form-group mt-3">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
              </div>
              <br>
              <div style="display: inline-block" class="text-center"><button type="submit">login</button></div><br>
            </form>
            <div style="display: inline-block" class="text-center"><button><a href="/ceo/ceoidfind">CEO idfind</a></button></div>
            <div style="display: inline-block" class="text-center"><button><a href="/ceo/ceopwdfind">CEO pwdfind</a></button></div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>