<!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/ceo/mypage">Saw Well CEO</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/identify/logout">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a href="/">Home</a></li>
    </ol>
    <h2>Ceopage</h2>
  </div>
</section><!-- End Breadcrumbs -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        <article class="entry">
          <h2 class="entry-title">
            <span>CEO PAGE</span><br><br>
            <span>ID : {{obj.id}}</span>
          </h2>
          <h2 class="entry-title">
            <span>PASSWORD : {{obj.password}}</span>
          </h2>
          <h2 class="entry-title">
            <span>NAME : {{obj.name}}</span>
          </h2>
          <h3 class="entry-title">
            <a href="/ceo/ceoadmin/{{obj.ceoid}}">my restaurant</a>
          </h3>
        </article>
      </div>
        <div style="display: inline-block" class="text-center">
          <button><a href="/ceo/updateview">UPDATE</a></button>
        </div>
      <p></p>
      <form action="/ceo/delete" method="get">
        <div style="display: inline-block" class="text-center"><button>DELETE</button></div>
      </form>
    </div>
  </div>
</section>
