

{% load static %}
<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<script>
var error = ['{{error}}']

if(error[0] == {{error}}){
  alert('아이디 또는 비밀번호가 잘못되었습니다.');
}
</script>
<style>
  body{
    margin-top:20px;
    background:#eee;
    color: #708090;
}
.icon-1x {
    font-size: 24px !important;
}
a{
    text-decoration:none;
}
.text-primary, a.text-primary:focus, a.text-primary:hover {
    color: #00ADBB!important;
}
.text-black, .text-hover-black:hover {
    color: #000 !important;
}
.container-md{
  display:table;
  width:1300px;
  height:70px;
  margin-bottom:10px;
  padding:10px;

}
</style>
<main id="main">
    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/">Saw Well</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/review/reviewlist/{{market.seochono}}/">review</a> </li>
          <li><a class="nav-link scrollto" href="/market/menu/{{market.seochono}}/">menu</a> </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
<script>
var error = ['{{error}}']

if(error[0] == {{error}}){
  alert('리뷰를 할려면 로그인을 해야합니다. 로그인을 해주세요.');
}
</script>
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a href="/">Home</a></li>
      <li>market_name</li>
      <li>review</li>
    </ol>
    <h2>Review</h2>
  </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        <article class="entry">
          <h2 class="entry-title">
            <span>{{market.marketname}} 리뷰</span>
          </h2>
          <form action="/review/reviewimpl/{{market.seochono}}/" method="post">
              {% csrf_token %}
              별점<input type="number" name="star" min="1" max="5"><br>
              <br>
              평가<input type="text" name="content" style="width:400px;height:100px;font-size:10px;"><br>
              <br>
            <input type="submit" value="submit">
          </form>
        </article>
      </div>
    </div>
  </div>
</section>
  <section class="blog">
    <div class="container">
      <div class="review-list">
        <ul>
            <li>
                <div class="d-flex">
                  {% for r in real_obj  %}
                    <div class="right">
                        <h4>
                            {{r.custno.name}}
                            <span class="gig-rating text-body-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
                                    <path
                                        fill="currentColor"
                                        d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"
                                    ></path>
                                </svg>
                                {{r.star}}
                            </span>
                        </h4>
                        <br>
                        <div class="review-description">
                            <p>
                                {{r.content}}
                            </p>
                          <br>
                        </div>
                        <div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </li>
        </ul>
      </div>
    </div>
  </section>
</main><!-- End #main -->