<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>welcom sawwell</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ba0755e7713551133f3ecbb14c16cd6a&libraries=services,clusterer,drawing"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!--char-->
  <!-- =======================================================
  * Template Name: Tempo - v4.7.0
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Saw well</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          {% if request.session.sessionid == None %}
          <li><a class="nav-link scrollto" href="/identify/login">login</a></li>
          <li><a class="nav-link scrollto" href="/identify/register">register</a></li>
          <li><a class="nav-link scrollto" href="/ceo/login">ceo</a></li>
          {% else %}
          <li><a class="nav-link scrollto" href="/identify/mypage">mypage</a></li>
          <li><a class="nav-link scrollto" href="/identify/logout">logout</a></li>
          {% endif %}
          <li><a class="nav-link scrollto" href="#services">category</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">popular</a></li>
          <li><a class="nav-link scrollto" href="#contact">Search</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h3>Welcome to <strong>Saw Well</strong></h3>
      <h1>We Recommend Restaurant</h1>
      <h2>Use 'Sawwell' created by the 잘했조 team to find delicious restaurants in Seocho-gu</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h3>Category</h3>
          <p>What type of restaurant are you looking for?</p>
        </div>
      </div>
    </section><!-- End Services Section -->

    {% if categori != None %}
        {% include categori %}
    {% else %}
        <section></section>
    {% endif %}

    {% if popular != None %}
        {% include popular %}
    {% else %}
        <section></section>
    {% endif %}

    {% if recommend != None %}
        {% include recommend %}
    {% else %}
        <section></section>
    {% endif %}

    {% if search != None %}
        {% include search %}
    {% else %}
        <section></section>
    {% endif %}
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Sawwell</h3>
            <p>
              212 Teheran-ro <br>
              Seoul, Gangnam-gu <br>
              South Korea <br><br>
              <strong>Phone:</strong> +82 5589 55488 55<br>
              <strong>Email:</strong> sawwell@gmail.com<br>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Sawwell</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
          Designed by <a href="/">Sawwell</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/?lang=ko" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/?hl=ko" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.instagram.com/" class="google-plus"><i class="bx bxl-skype"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css" type="text/css" rel="stylesheet"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js" type="text/javascript"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  <!--  Kakao api-->
<!--  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0da477b4f5581bc9b63f80bedc65f1c1"></script>-->
<!--  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0da477b4f5581bc9b63f80bedc65f1c1&libraries=services"></script>-->


  <!-- Template kakao JS File -->
  <script src="{% static 'assets/js/kakao.js' %}"></script>

</body>

</html>