<script>
var error = ['{{error}}']

if(error[0] == {{error}}){
  alert('emil 주소가 잘못 되었습니다.');
}
</script>
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Saw Well</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/identify/idFind">idFind</a> </li>
          <li><a class="nav-link scrollto" href="/market/pwdFind">pwdFind</a> </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/identify/login">Login</a></li>
      <li><a href="/identify/register">register</a></li>
    </ol>
    <h2>login</h2>

  </div>
</section><!-- End Breadcrumbs -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        <article class="entry">
          <h2 class="entry-title">
            <a href="blog-single.html">ID 찾기</a>
          </h2>
          <div class="entry-content">
            <form action="/identify/idfindimpl" method="post" role="form" class="php-email-form">
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
              </div>
              <br>
              <div class="text-center"><button type="submit">가입 여부 확인</button></div><br>
            </form>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>